<p>
  <table>
    <thead>
      <tr>
        <th width="200">#</th>
        <th width="150">Nombre</th>
        <th width ="150">Apellido Paterno</th>
        <th width="150">Apellido Materno</th>
        <th width="150">Edad</th>
        <th width="150">Sexo</th>
        <th width="150">Correo</th>
      </tr>
    </thead>
    <tbody *ngFor="let content of myarray" [ngSwitch]="content.icon">
      <tr>
          <td *ngSwitchCase="1"><fa name="cog" size ="5x" animation="spin"></fa></td>
          <td *ngSwitchCase="2"><fa name="mouse" size ="5x"></fa></td>
          <td *ngSwitchCase="3"><fa name="database" size ="5x"></fa></td>
          <td *ngSwitchCase="4"><fa name="print" size ="5x"></fa></td>
          <td *ngSwitchCase="5"><fa name="microchip" size ="5x"></fa></td>
          <td *ngSwitchCase="6"><fa name="hdd" size ="5x"></fa></td>
          <td *ngSwitchCase="7"><fa name="desktop" size ="5x"></fa></td>
          <td *ngSwitchCase="8"><fa name="tablet-alt" size ="5x"></fa></td>
          <td *ngSwitchCase="9"><fa name="mobile-alt" size ="5x"></fa></td>
          <td *ngSwitchCase="10"><fa name="satellite" size ="5x"></fa></td>
        <td>{{content.icon}}</td>
        <td>{{content.name}}</td>
        <td>{{content.lastname}}</td>
        <td>{{content.slastname}}</td>
        <td>{{content.age}}</td>
        <td *ngIf="content.genre == 'H'; then male else female"></td>
        <ng-template #male>Hombre</ng-template>
        <ng-template #female>Mujer</ng-template>
        <td>{{content.email}}</td>
      </tr>
    </tbody>
  </table>
<!--</p>-->

