<!--The content below is only a placeholder and can be replaced.-->
<ul class="menu">
  <li><a [routerLink]= "['']" >Home</a></li>
  <li><a [routerLink]= "['get']">Get</a></li>
  <li><a [routerLink]= "['post']">Post</a></li>
  <li><a [routerLink]= "['delete']">Delete</a></li>
</ul>
<div class="grid-y medium-grid-frame">
  <div class="cell shrink header medium-cell-block-container">
    <h1>Primera Tarea</h1>
  </div>
  <div class="cell medium-auto medium-cell-block-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 medium-cell-block-y">
        <form [formGroup]="validatorForm" (ngSubmit)="onSubmit()">
          <div class="grid-container">
            <div class="grid-x grid-padding-x">
              <div class="cell">
                <label>Nombre
                  <input type="text" formControlName="nameval" [ngClass]="{'is-invalid':submitted && f.nameval.errors}"
                  >
                  <div *ngIf="submitted && f['nameval'].errors" class="alert label">
                      <div *ngIf="f['nameval'].errors.required">El campo Nombre es necesario</div>
                  </div>
                </label>
                <label>Apellido Paterno
                  <input type="text" formControlName="lastnameval" [ngClass]="{'is-invalid':submitted && f.lastnameval.errors}"
                 >
                  <div *ngIf="submitted && f['lastnameval'].errors" class="alert label">
                      <div *ngIf="f['lastnameval'].errors.required">El campo Apellido Paterno es necesario</div>
                  </div>
                </label>
                <label>Apellido Materno
                  <input type="text" formControlName="slastnameval" [ngClass]="{'is-invalid':submitted && f.slastnameval.errors}"
                  >
                  <div *ngIf="submitted && f['slastnameval'].errors" class="alert label">
                      <div *ngIf="f['slastnameval'].errors.required">El campo Apellido Materno es necesario</div>
                  </div>
                </label>
                <label>Edad
                  <input type="number" formControlName="ageval" [ngClass]="{'is-invalid':submitted && f.ageval.errors}"
                  >
                  <div *ngIf="submitted && f['ageval'].errors" class="alert label">
                      <div *ngIf="f['ageval'].errors.required">Proporcione la edad</div>
                  </div>
                </label>
                <label>Correo
                  <input type="text" formControlName="emailval" [ngClass]="{'is-invalid':submitted && f.emailval.errors}"
                  >
                  <div *ngIf="submitted && f['emailval'].errors" class="alert label">
                      <div *ngIf="f['emailval'].errors.required">Proporcione un correo</div>
                      <div *ngIf="f['emailval'].errors.email">Proporcione un correo valido</div>
                  </div>
                </label>
                <label>Genero
                    <select formControlName="genreval" [ngClass]="{'is-invalid':submitted && f.genreval.valid}">
                      <option *ngFor="let item of options" [ngValue]="item" >{{item.value}} </option>
                    </select>
                    <div *ngIf="submitted && f['genreval'].errors" class="alert label">
                      <div *ngIf="f['genreval'].errors.required">Proporcione este valor</div>
                  </div>
                  </label>
                <button class="button" type="submit">Agregar</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="cell medium-8 medium-cell-block-y">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <div class="cell shrink footer">
    <h3>Aqui yace un 100 enterrado</h3>
  </div>
</div>

